
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Society History Files.
history/**
history/contents/**
history/request/**

# Society Idk Wtf is this.
objects

# Society Resource Files.
resources/**
