
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Society Application Properties.
properties.yaml
properties.yml

# Society Virtual Environment.
.virtual

# Society Idk Wtf is this.
backups
objects

# Society Any Backup files.
*-backup.*

# Society Resource Files.
resources/*.html
resources/*.json
resources/anonym/**
resources/contents/**/*/*.png
resources/contents/**/*/*.jpg
resources/contents/**/*/*.jpeg
resources/contents/**/*/*.webp
resources/contents/**/*/*.mp4
resources/requests/*.json
resources/requests/**/*/*.json
resources/unmatched/*.html
resources/unmatched/*.json
resources/unmatched/**/*/*.html
resources/unmatched/**/*/*.json
resources/unparsed/*.html
resources/unparsed/*.json
resources/unparsed/**/*/*.html
resources/unparsed/**/*/*.json
